* {
    --heading-background-color: #252525;
    --heading-text-color: white;
    --line-color: #252525;
    --links: #00e195;
    --links-visited: #00e195;
    --background-color: #1c1c1c;
    --text-color: white;
    --footer-background-color: #252525;
    --footer-text-color: #a2a2a2;
    --steps-background-color: #252525;
}  