* {
    font-family: 'Raleway', sans-serif;
    
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    word-wrap: break-word;
}

.heading {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    margin-bottom: 10px;
    margin: 1em 1em 1em;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    display: fit-content;
    font-family: 'Raleway-Bold', sans-serif;
    font-weight: 700;
}

.line {
    border-width: 0;
    height: 2px;
    background-color: #323232;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: var(--line-color);
}

.links {
    color: var(--links);
    text-decoration: underline;
}

.links:visited {
    color: var(--links-visited);
    text-decoration: underline;
}

@media (min-width: 230px) {
    #moon-icon {
        padding: 0.3em;
        max-width: 2.5em;
        position: absolute;
        right: 1em;
        top: 1em;
        -webkit-filter: invert(75%);
        filter: invert(75%);
    }
    
    #sun-icon {
        padding: 0.3em;
        max-width: 2.5em;
        position: absolute;
        right: 7.55em;
        top: 1em;
        -webkit-filter: invert(75%);
        filter: invert(75%);
    }
}

.steps {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 350px;
    max-height: 500px;
    padding: 1px;
    background-color: var(--steps-background-color);
}

.plus_button {
    position: relative;
    bottom: -7px;
    width: 1.5em;
    z-index: 1;
}

.content {
    text-align: center;
    display: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.content li {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.content h2 {
    margin-bottom: 15px;
}

.footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    width: 100%;
    padding: 20px 0;
    margin-top: auto;
    text-align: center;
}

.google-download-pic {
    display: fit-content;
    width: 100%;
    height: 100%;
    max-width: 20em;
    max-height: 8em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.apple-download-pic {
    display: fit-content;
    width: 100%;
    height: 100%;
    max-width: 17.5em;
    max-height: 7em;
    margin-top: 5px;
    margin-bottom: 10px;
}
